html, body {
    margin: 0;
    padding: 0;
}

#Main {
    color: #555555;
    width: 200px;
    padding: 5px;
    text-align: center;
}

h2 {
    font-size: 20px;
    margin-bottom: 2px;
    color: black;
}

a {
    color: #0088cc;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bar,
.time, 
.sitewatcher { width: 100%; }

    .time { margin-top: 5px;}
        .bar { height: 20px; }
            .bar div { height: 100%; opacity: 0.8}

#CharacterStats span {
    display: inline-block;
    width: 40%;
}

#CharacterStats span:first-child { 
    text-align: right; 
    padding-right: 5px;
    padding-left: 20px;
}
#CharacterStats span:last-child { text-align: left; }

#Menu {
    margin-top: 20px;
}

    #Menu li { 
        margin: 3px 0;
        width: 100%;
    }

        #Menu li a { 
            display: inline-block; 
            width: 100%;
            padding: 5px 0;
        } 